In [1]:
import numpy as np
import pandas as pd

# **Series size, shape, unique, count, value_counts 함수**
 - size : 개수 반환
 - shape : 튜플형태로 shape반환
 - unique: 유일한 값만 ndarray로 반환
 - count : NaN을 제외한 개수를 반환
 - mean: NaN을 제외한 평균 
 - value_counts: NaN을 제외하고 각 값들의 빈도를 반환

In [2]:
# 마지막 값을 Null로 생성 
# Nan : Not  a Number
# 실제 데이터 분석에도 NaN값이 있는 경우가 많다.

s = pd.Series([1, 1, 2, 1, 2, 2, 2, 1, 1, 3, 3, 4, 5, 5, 7, np.NaN])
s

0     1.0
1     1.0
2     2.0
3     1.0
4     2.0
5     2.0
6     2.0
7     1.0
8     1.0
9     3.0
10    3.0
11    4.0
12    5.0
13    5.0
14    7.0
15    NaN
dtype: float64

## len : Series 의 길이

In [3]:
len(s)

16

## Series의 크기

In [4]:
s.size

16

## Series의 형태

In [5]:
s.shape

(16,)

## Series의 unique한 값

In [6]:
s.unique()

array([ 1.,  2.,  3.,  4.,  5.,  7., nan])

## Series의 value의 수 (NaN 은 제외)

In [7]:
s.count()

15

**array는 NaN값이 있을 경우 연산이 되지 않는다.**

In [8]:
a = np.array([2, 2, 2, 2, np.NaN])
a.mean()

nan

**Series는 NaN이 있을 경우 NaN을 제외한 나머지 값으로 연산을 한다.**

In [9]:
b = pd.Series(a)
b.mean()

2.0

In [10]:
s

0     1.0
1     1.0
2     2.0
3     1.0
4     2.0
5     2.0
6     2.0
7     1.0
8     1.0
9     3.0
10    3.0
11    4.0
12    5.0
13    5.0
14    7.0
15    NaN
dtype: float64

In [11]:
s.mean()

2.6666666666666665

## Series의 value_counts

- 각 value의 unique한 값들이 몇개씩 있는지 count
- 데이터 분석에서 빈번하게 사용되는 함수중 하나

In [12]:
s.value_counts()

1.0    5
2.0    4
3.0    2
5.0    2
4.0    1
7.0    1
dtype: int64

# index를 활용하여 멀티플한 값에 접근

In [13]:
# index로 단일값에 접근하는 경우
s[5]

2.0

index로 여러개의 값에 동시에 접근

In [14]:
# 5, 7, 8, 10 번째 index의 값에 대한 value_counts

s[[5, 7, 8, 10]].value_counts()

1.0    2
2.0    1
3.0    1
dtype: int64

# **head, tail 함수**
 - head : 상위 n개 출력 기본 5개
 - tail : 하위 n개 출력 기본 5개
 - 괄호안에 특정 수를 넣어서 원하는 개수만큼 출력할 수도 있다.

In [15]:
s.head(n=7)

0    1.0
1    1.0
2    2.0
3    1.0
4    2.0
5    2.0
6    2.0
dtype: float64

In [16]:
s.head()

0    1.0
1    1.0
2    2.0
3    1.0
4    2.0
dtype: float64

In [17]:
s.tail()

11    4.0
12    5.0
13    5.0
14    7.0
15    NaN
dtype: float64