In [1]:
import numpy as np
import pandas as pd

# **Series 값 변경**
  - 추가 및 업데이트: 인덱스를 이용
  - 삭제: drop함수 이용

In [2]:
s = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [3]:
# index 'a'에 해당하는 value를 100 to 200으로 update
s['a'] = 200
s

a    200
b    101
c    102
d    103
e    104
dtype: int32

In [4]:
s['k'] = 300
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [5]:
# index 'k'의 값을 drop
# inplace 옵션 : drop옵션으로 실행한 결과를 원본 데이터에 덮어쓰기 할것인지 여부
s.drop('k')

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [6]:
# 위에서 drop했지만, inplace 옵션의 default는 False 이기 때문에 원본 데이터 s에서는 drop되지 않았다.
# s=s.drop('k') 으로 했다면 update개념이 적용되어 사라지게 할 수 는 있다.
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [7]:
s.drop('k', inplace=True)

In [8]:
# inplace= True를 통해 원본 s에서도 index  'k'의 value가 drop된것을 확인할 수 있다.
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [9]:
# 두개의 index에 동시에 접근하여 update하기
# indexing개념을 활용

s[['a', 'b']] = [300, 900]
s

a    300
b    900
c    102
d    103
e    104
dtype: int64

# **Slicing**
 - 리스트, ndarray와 동일하게 적용

## index 번호로 slicing

In [10]:
s1 = pd.Series(np.arange(100, 105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [11]:
# index 1번째 부터 3번째 까지의 값을 출력
s1[1:3]

1    101
2    102
dtype: int32

In [12]:
s2 = pd.Series(np.arange(100, 105), ['a', 'c', 'b', 'd', 'e'])
s2

a    100
c    101
b    102
d    103
e    104
dtype: int32

In [13]:
# index 1번째 부터 3번째 까지의 값을 출력
s2[1:3]

c    101
b    102
dtype: int32

## 문자열로 slicing

- index가 문자열로 이뤄진 경우, 해당 문자열로 slicing을 할 수 있다.
- 이때, 숫자로 slicing을 할 경우 마지막 수는 포함하지 않지만, 문자열의 경우 마지막에 입력한 문자열까지 포함해서 return한다.

In [14]:
# index 'd'까지 포함해서 출력된다.
s2['c':'d']

c    101
b    102
d    103
dtype: int32