# **리스트 & 튜플**
 * 복수개의 값을 담을 수 있는 데이터 구조
 * 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

## **리스트 초기화**
 - [] 안에 값을 담아서 생성
 - list() 함수로 생성
 - str.split()함수로 생성 되기도 한다.

In [1]:
a = [] 
print(a)

[]

In [2]:
a = [1, 2, 3, 5, 10]
print(a)

[1, 2, 3, 5, 10]

In [3]:
a = ['korea', 'canada', 1, 23, [34, 56]]
print(a)

['korea', 'canada', 1, 23, [34, 56]]

In [25]:
a = hello world
b = a.str.split()

print(b)

SyntaxError: invalid syntax (<ipython-input-25-97f7f0dc6001>, line 1)

## list() 함수
 + 다른 데이터 타입을 리스트로 변환할 때도 사용

In [4]:
a = 'hello world' # 문자열 데이터
b = list(a) #리스트 형으로 변경 -> 하나의 문자별로 각각 리스트의 값이 된다.
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [5]:
c = (1, 2, 3) #int형 데이터
d = list(c) #리스트 형으로 변경

print(d)

[1, 2, 3]

## string split 함수
 * 구분자로 구분되는 리스트를 반환 (실제로 자주 사용 됨)
 - split() 의 () 안에 입력되는 특정 값을 기준으로 분류된다.
 - 아무것도 입력하지 않고 ()을 하거나 (' ')로 입력하면 1칸 공백을 기준으로 split한다.

In [6]:
a = 'hello world nice weather'
b = a.split()

c = 'today is shiny day'
d = c.split(' ')

print(b)
print(d)

['hello', 'world', 'nice', 'weather']
['today', 'is', 'shiny', 'day']

## 리스트 indexing
 * 문자열의 인덱싱과 동일하게 동작
 * [] 연산자를 이용하여 항목을 얻어온다.
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [7]:
a = [1, 2, 3, 4, 5, 6]
print(a[2]) # a 리스트에서 2번째 인덱스 -> 3번째 수
print(a[5])
print(a[-1])

3
6
6

## 리스트 개별 아이템에 접근
 - 인덱스에 접근하여 값을 업데이트 가능

In [8]:
# 불변(immutable)
a = 'hello world'
print(a[0])

h

In [9]:
b = 'jello world'
c = 'j' + a[1:] 

print(c)

jello world

In [10]:
d = a.replace('h', 'j') 

print(d) # a의 h를 j로 치환한 결과를 출력
print(a) # 기존의 a출력 <- d는 a를 활용해 변수선언을 한 것 뿐이지, a 에 직접적인 변화를 주지는 않았다.

jello world
hello world

In [11]:
a = [1, 2, 3, 4, 5]
a[0] = 100 # 0번째 인덱스인 1을 100으로 변경
a[-1] = 90 # 맨 마지막 인덱스인 5를 90으로 변경

print(a)

[100, 2, 3, 4, 90]

## 리스트 slicing
 - 문자열 슬라이싱과 동일하게 동작
 - 슬라이싱의 결과 역시 list!

In [12]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(a[4:7])
print(a[:7])
print(a[3:])
print(a[:])

# slicing 
# start:end:increment(1)

a[1:7]

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

[2, 3, 4, 5, 6, 7]

## list 멤버 함수
 - 생성된 리스트 객체에 동작하는 함수
 - 향후, 클래스와 멤버 함수 개념을 이해할 예정

### append()
 + 리스트의 끝에 항목을 추가함

In [13]:
a = [1, 2, 3, 4, 5]
a.append(10)

print(a)

[1, 2, 3, 4, 5, 10]

### extend()
 * 리스트를 연장
 * += 로도 가능함

In [14]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# a.extend(b)
a += b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### insert()로 항목추가
 * 리스트의 원하는 위치에 추가 가능
 * 앞에 인덱스를, 뒤에 아이템을 명시

In [15]:
a = [1, 3, 4, 5, 6]
a.insert(1, 40)

print(a)

[1, 40, 3, 4, 5, 6]

### remove()
 * 값으로 항목 삭제

In [16]:
a = [1, 2, 30, 30, 4, 5]
a.remove(9)
print(a)

ValueError: list.remove(x): x not in list

### pop()
  - 지우고자 하는 아이템을 반환 후, 삭제
  - ()에 들어가는 숫자는 인덱스 번호

In [30]:
a = [1, 2, 3, 4, 5]
d = a.pop(1) #1번째 인덱스 값을 반환 후 삭제

print(a) 
print(d)

[1, 3, 4, 5]
2

순서상 a의 1번째 인덱스값을 지우는 d가 먼저 선언되어서 a에서 1번째 인덱스값인 2가 사라진다.

### index()
 * 찾고자 하는 값의 인덱스 반환

In [18]:
a = [2, 6, 7, 9, 10]
a.index(9)

3

### in 키워드
 + 리스트 내에 해당 값이 존재하는지 확인
 + value in [list]
 + True, False 중 한가지로 반환

In [19]:
a = [1, 2, 3, 4, 5, 10]
b = 10

c = b in a # False

print(c)

True

### list 정렬
 + sort() -> 리스트 자체를 내부적으로 정렬
 + sorted() -> 리스트의 정렬된 복사본을 반환

In [20]:
a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
a.sort(reverse=True)
b = sorted(a)
print(a)
print(b)

[21, 20, 19, 10, 9, 8, 7, 7, 2, 1]
[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]

## tuple
 - 리스트와 달리 ()로 표현한다.
 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
 - **한번 생성하면 변경이 불가능하다.**

In [31]:
a = [1, 2, 3]
b = (1, 2, 3)

print(type(a))
print(type(b))

<class 'list'>
<class 'tuple'>

In [34]:
a[0] = 100
print(a)

[100, 2, 3]

In [33]:
b[0] = 100  # 튜플은 변경이 불가능하다!
print(b)

TypeError: 'tuple' object does not support item assignment

### **tuple unpacking**

- 튜플은 괄호를 생략해도 만들 수 있다.

In [38]:
a = (100, 200)
type(a)

tuple

In [39]:
a = 100, 200
type(a)

tuple

- 이를 활용해 여러개의 변수에 여러개의 튜플의 값을 차례대로 대입시킬 수 있다.

In [35]:
a, b, c, d = 100, 200, 300, 400
print(a, b, c, d)

100 200 300 400

튜플형태의  a와 b의 값을 교환하려면?

In [40]:
a = 5
b = 4

print(a, b)

5 4

In [41]:
# 잘못된 예시

a = b #b를 a에 대입 -> a가 b의 값으로 업데이트 됨
b = a # b를 a에 대입 -> 이미 b의 값이 업데이트된 a (사실상 b)가 b에 업데이트 되는 것

print(a, b)

4 4

In [42]:
# 올바른 예시 - 일반적인 programming 방식

a = 5
b = 4

print(a,b)

# logic
temp = a # 임시로 어떤 값에 a를 입력해둔다.
a = b # a를 b의 값으로 업데이트 시킨다.
b = temp # b의 값을 임시로 입력해둔 temp(즉 원래의 a값) 으로 업데이트 시킨다.

print(a,b)

5 4
4 5

**tuple unpacking** 을 통해 이 과정을 한번에 해결 할 수 있다. (파이썬에서 자주 tuple이 가장 많이 사용되는 예시)

In [43]:
a = 5
b = 4

print(a,b)

a, b = b, a 

print(a, b)

5 4
4 5